* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  
  .header {
    width: 100%;
    height: 65px;
    display: flex;
    margin: 0 auto;
    flex-direction: column;
    align-items: center;
    position: relative;
    position: fixed;
  }
  
  .header-img__icono {
    position: absolute;
    align-self: start;
    margin-top: -5px;
    margin-left: 50px;
  }
  
  .header__input {
    height: 40px;
    width: 350px;
    margin-top: 10px;
    position: absolute;
    align-self: flex-end;
    margin-right: 50px;
  }
  
  .header-img__background {
    width: 100%;
    height: 65px;
    object-fit: cover;
  }
  
  /* ESTILO DEL MAIN */
  .main {
    width: 100%;
    height: auto;
    display: flex;
    margin: 0 auto;
    flex-direction: column;
    align-items: center;
  }
  
  .main__img-front {
    margin-top: 65px;
    width: 100%;
    height: 689px;
    object-fit: cover;
  }
  /* BUSQUEDA AVANZADA */
  .main__searchAvanced{
    text-align: center;
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    flex-direction: column;    
  }
  .main__searchAvanced__Main{
    display: flex;
    justify-content: center;
  }
  .main__img-search {
    width: 100%;
    height: 92px;
    position: absolute;
    z-index: -1;
    object-fit: cover;
  }
  .main__searchAvanced-Button{
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 28px;
    line-height: 33px;
    color: #FFFFFF;
    margin-top: 48px;
    position: absolute;
    z-index: 1;
    cursor: pointer;
  }
  .main__searchAvanced-Button-oculto{
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 28px;
    line-height: 33px;
    color: #FFFFFF;
    margin-top: 48px;
    position: absolute;
    cursor: pointer;
    z-index: 1;
  }
  .main__searchAvanced__Options{
    width: 100%;
    height: 100px;
    background-color: #1B588F;
    transition: max-height .5s ease-out;
    overflow: hidden;
    
  }
  .options-div__button{
    width: 8%;
    height: 25px;
    border-radius: 5px;
    border:none;
    cursor: pointer;
    margin-top: 40px;
    margin-left: 4%;
  }
  .options-div__button:hover{
    background-color: #23ACF9;
  }
  /* ORDENAR : para el boton desplegable */
  .main-div__Ordenar {
    width: 30%;
    height: auto;
    text-align: center;
    align-self: flex-start;
    margin-left: 50px;
    margin-top: 130px;
  }
  
  .main-div__button-ordenar {
    width: 100%;
    background-color: #1B588F;
    height: 40px;
    border-radius: 5px;
    border: none;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 28px;
    line-height: 33px;
    color: #FFFFFF;
  }
  .main-div__button-despliegue {
    transition: max-height .5s ease-out;
    max-height: 80%;
    overflow: hidden;
  }
  .list-order:hover {
    cursor: pointer;
  }
  .list-order:hover {
    background: rgba(0, 0, 0, 0.2);
  }
  
  /* CSS DE LAS TARJETAS DE POKEMONES */
  .main__div-Characteres {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }
  #pokemonCard1 {
    cursor: pointer;
  }
  /* #pokemonCard2 {
    display: none;
  } */
  .card {
    width: 290px;
    height: 320px;
    background: linear-gradient(180deg, #C8D5D8 0%, rgba(59, 79, 83, 0.35) 52.08%, #485D62 100%);
    border-radius: 12px;
    margin: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 16px 0;
    cursor: pointer;
  }
  
  .card-div__Img {
    width: 250px;
    height: 250px;
  }
  
  .card__Img {
    width: 230px;
    height: 230px;
  }
  
  .cardInfo__Number {
    text-align: center;
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 32px;
    color: #FFFFFF;
  }
  
  .cardInfo__Boton:hover {
    border: 20px #7e0a0a;
  }
  
  .cardInfo__Boton {
    width: 290px;
    height: 53px;
    background: linear-gradient(90deg, #B647B8 0%, #7D6ED1 38.54%, #1F6E9A 100%);
    border-radius: 30px;
    border-radius: 0 0 12px 12px;
    border: none;
    padding: 5px 26px;
    font-family: Roboto;
    font-style: normal;
    font-weight: 800;
    font-size: 36px;
    line-height: 40px;
    color: #FFFFFF;
  }
  
  /* .main__button-showAll {
    width: 350px;
    height: 60px;
    background: linear-gradient(90deg, #1B588F 0%, rgba(187, 60, 167, 0.81) 54.17%, #23ACF9 100%);
    border-radius: 30px;
    border: none;
    font-family: Roboto;
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 28px;
    color: #FFFFFF;
    margin-top: 30px;
    margin-bottom: 30px;
  } */
  
  /* ESTILO DEL FOOTER */
  .footer {
    width: 100%;
    height: 128px;
    display: flex;
    margin: 0 auto;
    flex-direction: row ;
    align-items: center;
    
  }
  
  .footer__img-background {
    width: 100%;
    height: 128px;
    position: absolute;
    z-index: -1;
    object-fit: cover;
  }
  
  .footer__img-Icono {
    height: 64px;
    width: 174px;
    position: absolute;
    z-index: 1;
    margin-top: 25px;
    align-self: flex-start;
  }
  
  .footer__p-CopyR {
    font-family: Roboto;
    font-style: normal;
    font-weight: 600;
    font-size: small;
    line-height: 20px;
    color: #FFFFFF;
    margin-top: 100px;
    justify-content: center;
  }
  .footer__p-Social{
    font-family: Roboto;
    font-style: normal;
    font-weight: 600;
    font-size: small;
    line-height: 20px;
    color: #FFFFFF;
    margin-top: 20px;
    justify-content: center;
  }
  .footer__img-Characteres {
    height: 317px;
    width: 120px;
    align-self: flex-end;
    position: absolute;
    z-index: 1;
    
  }
  
  
  /* MEDIA QUERIES */
  @media screen and (min-width: 780px) and (max-width:1024px){
    /* ejecuta tal cosa */
  
  }
  
  @media screen and (min-width: 480px) and (max-width:780px){
  }
    
  @media screen and (max-width:480px){}
    