* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto Serif', sans-serif;
    text-decoration: none;
    font-size: 16px;
  }

  .header {
    width: 100%;
    height: 65px;
    display: flex;
    margin: 0 auto;
    flex-direction: column;
    align-items: center;
    position: absolute;
    position: fixed;
    z-index: 2;
  }

  .header-img__icono {
    position: absolute;
    align-self: start;
    margin-top: -5px;
    margin-left: 50px;
  }

  .header__input {
    height: 40px;
    width: 350px;
    margin-top: 10px;
    position: absolute;
    align-self: flex-end;
    margin-right: 50px;
    text-align: center;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
  }

  .header-img__background {
    width: 100%;
    height: 65px;
    object-fit: cover;
  }

  /* ESTILO DEL MAIN */
  .main {
    width: 100%;
    height: auto;
    display: flex;
    margin: 0 auto;
    flex-direction: column;
    align-items: center;
  }
  .main__img-front {
    margin-top: 65px;
    width: 100%;
    height: 70%;
    object-fit: contain;
  }
  /* BUSQUEDA AVANZADA **********************************2 */
  .containerFiltros{
    width: 100%;
    height: 70px;
    /* background: #023877; */
    background-color: #1B588F;
    padding: 0px 20px;
  }
  .menuFiltros_div{
    max-width: 1200px;
    margin: auto;
    height: 100%;
  }
  nav{
    height: 100%;
  }
   nav>ul{
     height: 100%;
     display: flex;
   }
  nav ul li{
  height:100%;
  list-style: none;
  position: relative;
  }
  nav>ul>li>a{
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    padding: 14px;
    color:white;
    transition: all 300ms ease;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
  }
  nav>ul>li>a:hover{
    transform: scale(1.1);
    background: #0074C7;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.5);
    align-items: center;
  }
nav ul li ul{
  width: 200px;
  display: flex;
  flex-direction: column;
  background: #fff;
  position: absolute;
  top: 90px;
  left: -5px;
  padding: 14px 0px;
  visibility: hidden;
  opacity: 0;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
  z-index: 10;
  transition: all 300ms ease;
}
nav ul li:hover ul{
  visibility: visible;
  opacity: 1;
  top: 70px;
}
nav ul li ul:before{
  content: '';
  width: 0;
  height:0;
  border-left: 12px solid transparent;
  border-right: 12px solid transparent;
  border-bottom: 12px solid rgb(255, 255, 255);
  position:absolute;
  top:-12px;
  left: 20px;
}
nav ul li ul li a{
  display:block;
  color: #0658f0;
  padding: 6px;
  padding-left: 14px;
  margin-top: 10px;
  font-size: 14px;
  font-weight: 600;
  text-transform: uppercase;
  transition: all 300ms ease;
}
nav ul li ul li a:hover{
  background: #0074C7;
  color: #fff;
  transform: scale(1.1);
  padding-left: 30px;
  font-size: 14px;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
}

  /* MAIN: ORDENAR POR */
.main-div__Ordenar {
  width: 100%;
  height: auto;
  margin-top: 35px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.main-div__button-ordenar {
  width: 22%;
  background-color: #1B588F;
  height: 40px;
  border-radius: 5px;
  border: none;
  font-family: Roboto;
  font-style: normal;
  font-weight: 600;
  color: #FFFFFF;
  cursor: pointer;
  margin-right: 5%;
}

.main-div__button-ordenar:hover {
  background-color: #1F6E9A;
}

#iconsmall {
  font-size: 18px;
  margin-left: 5%;
}

.main-div__button-despliegue {
  transition: max-height .5s ease-out;
  width: 22%;
  overflow: hidden;
  margin-top: -2px;
  background-color: #1B588F;
  margin-right: 5%;
}

.list-order {
  font-size: 16px;
  font-weight: 500;
  color: #FFFFFF;
  padding: 10px;
  list-style: none;
}

.list-order:hover {
  cursor: pointer;
  background: rgba(0, 0, 0, 0.2);
}

/* MAIN: ESTADISTICAS */
.main__div__stats{
  width: 100%;
  height: auto;
  margin-top: 1%;
}
.main__div__stats-p{
  margin-left: 2.5%;
}
.titleFilter{
  width: 30%;
  height: 50px;
  border-radius: 0 30px 30px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(90deg, #952d97 0%, #3d2d96 38.54%, #09547c 100%);
}
.titleFilter__p{
  color: #fff;
  font-weight: 700;
  font-size: 24px;
}
.infoDetailed{
  text-align: right;
  margin-right: 5%;
  font-weight: 600;
  color: #707070;
}

/*MAIN: TARJETAS DE POKEMONES */
  .main__div-Characteres {
    width: 95%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-bottom: 2%;
  }

  .card {
    width: 290px;
    height: 330px;
    margin: 20px;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0;
    position: relative;
    z-index: 1;
    cursor: pointer;
  }

  .backCard {
    width: 290px;
    height: 330px;
    background: linear-gradient(180deg, #C8D5D8 0%, rgba(59, 79, 83, 0.35) 52.08%, #485D62 100%);
    border-radius: 12px;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0;
    position: relative;
  }

  .backCard {
    display: none;
  }

  .frontCard {
    width: 290px;
    height: 330px;
    background: linear-gradient(180deg, #C8D5D8 0%, rgba(59, 79, 83, 0.35) 52.08%, #485D62 100%);
    border-radius: 12px;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0;
    position: relative;
  }

  .card:hover {
    box-shadow: inset 0 -4em 4em rgba(114, 4, 129, 0.356),
      0 0 0 2px rgba(212, 7, 212, 0.514),
      0.5em 0.5em 2em rgba(0, 0, 0, 0.424);
  }

  .card-div__Img {
    width: 100%;
    height: 70%;
    text-align: center;
  }

  .card__Img {
    width: 70%;
    height: 100%;
  }

  .card__Img:hover {
    width: 72%;
    height: 102%;
  }

  .cardInfo {
    width: 100%;
    height: 10%;
    position: relative;
  }

  .cardInfo__Number {
    text-align: center;
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    line-height: 32px;
    color: #FFFFFF;
  }

  .card__boton {
    width: 100%;
    height: 20%;
  }

  .cardInfo__Boton {
    width: 100%;
    height: 20%;
    background: linear-gradient(90deg, #B647B8 0%, #7D6ED1 38.54%, #1F6E9A 100%);
    border-radius: 30px;
    border-radius: 0 0 12px 12px;
    border: none;
    padding: 5px 26px;
    font-family: Roboto;
    font-style: normal;
    font-weight: 800;
    font-size: 21px;
    line-height: 40px;
    color: #FFFFFF;
    position: absolute;
    margin-bottom: 0;
  }

  .cardInfo__back {
    width: 100%;
    height: 80%;
    color: #000000;
    font-weight: 600;
    text-align: center;
    display: flexbox;
    justify-content: center;
  }

  /* estilo del back */
  .etiquetadelBack {
    height: 10px;
    background: linear-gradient(90deg, #B647B8 0%, #7D6ED1 38.54%, #1F6E9A 100%);
    display: inline-flex;
    margin-top: 4px;
    padding: 3px;
    margin-bottom: 4px;
    margin-left: 5px;
    height: auto;
    font-weight: 600;
    color: #FFFFFF;
    border-radius: 4px;
  }

  .cardInfo__back__generation {
    background-color: #ABA3D8;
    padding: 5px;
    border-radius: 12px 12px 0 0;
  }

  .estiloparraf {
    margin-top: 3px;
    text-align: left;
    margin-left: 10px;
  }

  .tabla {
    width: 100%;
  }

  .tabla tr td {
    border: 1px solid #86056686;
  }

  .tabla2 {
    width: 100%;
  }

  .tabla2 tr td {
    border: 1px solid #86056686;
  }

  .caracter {
    background-color: #1B588F;
  }
  /* ESTILO DEL FOOTER */
.footer {
  width: 100%;
  height: 128px;
  text-align: center;
  display: flex;
  flex-direction: row;
  vertical-align: bottom;
  position: static;
  bottom: 0;
}
.footer__img-background {
  width: 100%;
  height: 128px;
  /* position: absolute;
    z-index: -1; */
  object-fit: cover;
}
.footer__img-Icono {
  position: absolute;
  margin-top: 15px;
  left: 10%;
}
.footer__p-CopyR {
  font-family: Roboto;
  font-style: normal;
  font-weight: 600;
  line-height: 20px;
  color: #FFFFFF;
  position: absolute;
  margin-top: 100px;
  left: 8%;
}
.footer__p-Social {
  font-family: Roboto;
  font-style: normal;
  font-weight: 600;
  font-size: 22px;
  line-height: 20px;
  color: #FFFFFF;
  margin-top: 20px;
  left: 40%;
  position: absolute;
}
.footer__p-Social i {
  font-size: 40px;
  padding: 10px;
  /* margin: 10px; */
}
.footer div {
  width: 20%;
  position: absolute;
  left: 75%;
}

/* MEDIA QUERIES */

@media screen and (min-width: 767px) and (max-width:900){
  .main-div__button-ordenar {
    width: 50%;}
  .main-div__button-despliegue {
      width: 50%;}
  
}



/* ELEMENTOS RESPONSIVOS*/
/* .icon__menu{
  font-size: 26px;
  color: white;
  cursor: pointer;
  width: 26px;
  height: 100%;
  display: none;
  align-items: center;
}
#label__check{
  width: 26px;
  height: 100%;
  display: none;
}
#check__menu{
  display: none;
}
@media screen and (max-width: 720px){
  nav > ul{
    flex-direction: column;
    background-color: #023877;
    position: unset;
    left:0;
    margin-top: 0;
    width: 100%;
    height: 0px;
    transition: all 300ms ease;
    
    opacity: 0;
    visibility: hidden;
  }

   nav > ul > li > a:hover{
    transform: scale(1);
   }
   nav ul li ul{
    left: 90px;
   }
   nav>ul>li:hover ul {
     top: 50px;
   }
   nav>ul>li:first-child a{
    background-position: 20px;
   }
  #label__check{
    display: block;
    margin-top: 20px;
  }
  #label__menu {
    display: flex;
  }
  #check__menu:checked~nav>ul {
    height: 300px;
    visibility: visible;
    opacity: 1;
  }
  .icon__menu{
    display: flex;
  }

} */



/* @media screen and (min-width: 360px) and (max-width:780px) {
  .main__img-front {
    margin-top: 65px;
    width: 100%;
    object-fit: fill;
  }
  .footer__img-Characteres {
    display: none;
  }
} */

/* @media screen and (max-width:360px) {
  .header {
    width: 360px;
    height: 180px;
    position: fixed;
    background-color: #7D6ED1;
  }

  .header-img__icono {
    height: 100px;
  }

  .header__input {
    height: 70px;
    margin-top: 105px;
    width: 70%;
  }

  .header-img__background {
    display: none;
  }

  .main__img-front {
    display: none;
  }

  .main__searchAvanced {
    display: none;
  }

  .footer div {
    display: none;
  }

  .footer__p-Social {
    display: none;
  }

  .footer {
    align-items: center;
    flex-direction: column;
  }
} */
